{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<div class="height" style="width: 100%; height: 80px; background-color: black;"></div>
<main role="main">

    <!-- Slider -->
    <section class="velo-slides" data-velo-slider="on" data-velo-theme="light">
    
  
      <!-- Slide -->
      <section class="velo-slide">
        <!-- Pretitle Hint -->
        <div class="velo-slide__bg">
          <!-- Borders -->
          <span class="border"><span></span></span> <!-- Img -->
          <figure class="velo-slide__figure" style="background-image: url(https://source.unsplash.com/VsBl5PwVZpY/2000x1200)"></figure>
        </div>
      
        <!-- Header -->
        <header class="velo-slide__header">
          <h3 class="velo-slide__title"><span class="oh"><span>The Name Is</span></span><span class="oh"><span>Stephen Scaff</span></span></h3>
          <p class="velo-slide__text"><span class="oh"><span>I'm a Creative Developer currently building web things at the Seattle Branding + Interactive firm, Urban Influence.</span></span></p>
          <span class="velo-slide__btn"><a class="btn-draw btn--white" href="#"><span class="btn-draw__text"><span>View Work</span></span></a></span>
        </header>
      </section>
  
      <!-- Slide -->
      <section class="velo-slide">
        <!-- Pretitle Hint -->
        <!-- Slide BG -->
        <div class="velo-slide__bg">
          <!-- Borders -->
          <span class="border"><span></span></span> <!-- Img -->
          <figure class="velo-slide__figure" style="background-image: url(https://source.unsplash.com/D8GFCYxyJj8/2000x1200)"></figure>
        </div>
      
        <!-- Header -->
        <header class="velo-slide__header">
          <h3 class="velo-slide__title"><span class="oh"><span>Another Day</span></span><span class="oh"><span>Another Slide</span></span></h3>
          <p class="velo-slide__text"><span class="oh"><span>The here slider interaction thing is using Velocity for ehanced animation performance.</span></span></p>
          <span class="velo-slide__btn"><a class="btn-draw btn--white" href="#"><span class="btn-draw__text"><span>View Work</span></span></a></span>
            
        </header>
      </section>
      
      <!-- Slide - with Video -->
      <section class="velo-slide">
        <!-- Pretitle Hint -->
        <!-- Slide BG -->
        <div class="velo-slide__bg">
          <!-- Borders -->
          <span class="border"><span></span></span> <!-- Img -->
          <figure class="velo-slide__figure" style="background-image: url(https://source.unsplash.com/D8GFCYxyJj8/2000x1200)"></figure>
          
        </div><!-- Header -->
        <header class="velo-slide__header">
          <h3 class="velo-slide__title"><span class="oh"><span>Pigeon Wisdom</span></span><span class="oh"><span>Agency Site</span></span></h3>
          <p class="velo-slide__text"><span class="oh"><span>Live from the Coop, SOTD rocking, folio and storytelling joint for the Pigeon Wizzy squad. Coo Coo Mfers.</span></span></p>
          <span class="velo-slide__btn"><a class="btn-draw btn--white" href="#"><span class="btn-draw__text"><span>View Project</span></span></a></span>
        </header>
      </section>
      <section class="velo-slide">
        <!-- Pretitle Hint -->
        <!-- Slide BG -->
        <div class="velo-slide__bg">
          <!-- Borders -->
          <span class="border"><span></span></span> <!-- Img -->
          <figure class="velo-slide__figure" style="background-image: url(https://source.unsplash.com/D8GFCYxyJj8/2000x1200)"></figure>
          
        </div><!-- Header -->
        <header class="velo-slide__header">
          <h3 class="velo-slide__title"><span class="oh"><span>Pigeon Wisdom</span></span><span class="oh"><span>Agency Site</span></span></h3>
          <p class="velo-slide__text"><span class="oh"><span>Live from the Coop, SOTD rocking, folio and storytelling joint for the Pigeon Wizzy squad. Coo Coo Mfers.</span></span></p>
          <span class="velo-slide__btn"><a class="btn-draw btn--white" href="#"><span class="btn-draw__text"><span>View Project</span></span></a></span>
        </header>
      </section>
     
      <!-- Slides Nav -->
      <div class="velo-slides-nav" style="position: absolute;">
        <ul class="velo-slides-nav__list">
          <li>
            <a class="js-velo-slides-prev velo-slides-nav__prev inactive" href="#0"><i class="icon-up-arrow"></i></a>
          </li>
          <li>
            <a class="js-velo-slides-next velo-slides-nav__next" href="#0"><i class="icon-down-arrow"></i></a>
          </li>
        </ul>
      </div>
    </section>
  </main>




<br />
<br />
<br />



    <div class="aboutus">
        <div class="about-con">
            <div class="container-sec-1">
                {% for aboutsec_1 in aboutsec_1 %}
                <h1>{{aboutsec_1.title}}
                  <span>{{aboutsec_1.subtitle}}</span>   
                </h1>
                    <p class="about-p">
                        {{aboutsec_1.description}}
                    </p>
                    <p class="about-p-2">
                        {{aboutsec_1.subdescription}}
                    </p>
                            <br />
                           <a href="" class="about-btn">{{aboutsec_1.btn}} <ion-icon name="chevron-forward-outline"></ion-icon></a>
                           <br />
                        
            </div>
            <div class="container-sec-1">
                <img src="{{aboutsec_1.img.url}}" alt="" class="about-img">
            </div>
            {% endfor %}
        </div>
        
    </div>
  
    <div class="about-con-2">
        <div class="container-2-sec-1">
            {% for myskills in myskills %}
                <img src="{{myskills.img.url}}" alt="" class="about-img about-img-2">
            </div>
            <div class="container-2-sec-1">
                <div>
           
                    <h1 class="text-center">{{myskills.title}}</h1>
                    <br />
                    <br />
                        <div class="skill-bar">
                        <p>{{myskills.skillsName1}}</p> 
                            <div class="progress-bar-seo"></div>
                            <span class="percentage-seo">{{myskills.progress}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName2}}</p> 
                            <div class="progress-bar-webdesign"></div>
                            <span class="percentage-webdesign">{{myskills.progress2}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName3}}</p> 
                            <div class="progress-bar-animations"></div>
                            <span class="percentage-animations">{{myskills.progress3}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName4}}</p> 
                            <div class="progress-bar-graphicsdesgining"></div>
                            <span class="percentage-graphicsdesgining">{{myskills.progress4}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName5}}</p> 
                            <div class="progress-bar-digital-marketing"></div>
                            <span class="percentage-digital-marketing">{{myskills.progress5}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName6}}</p> 
                            <div class="progress-bar-SocialMedia"></div>
                            <span class="percentage-SocialMedia">{{myskills.progress6}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName7}}</p> 
                            <div class="progress-bar-EmailMarketing"></div>
                            <span class="percentage-EmailMarketing">{{myskills.progress7}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName8}}</p> 
                            <div class="progress-bar-ADsManagement"></div>
                            <span class="percentage-ADsManagement">{{myskills.progress8}}</span>
                            <br />
                        </div>
                        <div class="skill-bar">
                            <p>{{myskills.skillsName9}}</p> 
                            <div class="progress-bar-WebDevelopement"></div>
                            <span class="percentage-WebDevelopement">{{myskills.progress9}}</span>
                            <br />
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <br />
    <br />  <br />
    <br />
    <div class="whychooseme">
        {% for whychooseme in whychooseme %}
            <h1 class="text-center">{{whychooseme.maintitle}}</h1>
            <div class="whyMe-con">
                <div class="whyMesec-1">
                <p class="text-center"><ion-icon name="videocam-outline"></ion-icon></p>  
                    <h3>{{whychooseme.subtitle1}}</h3>
                    <p>{{whychooseme.description}}

                    </p>
                </div>
                <div class="whyMesec-1">
                    <p class="text-center"><ion-icon name="podium-outline"></ion-icon></p> 
                    <h3>{{whychooseme.subtitle2}}</h3>
                    <p>{{whychooseme.description2}}
                    </p>
                </div>
                <div class="whyMesec-1">
                <p class="text-center"><ion-icon name="cog-outline"></ion-icon></p>  
                    <h3>{{whychooseme.subtitle3}}</h3>
                    <p>{{whychooseme.description3}}.
                    </p>
                </div>
                <div class="whyMesec-1">
                <p class="text-center"><ion-icon name="cellular-outline"></ion-icon></p>  
                    <h3>{{whychooseme.subtitle4}}</h3>
                <p>{{whychooseme.description4}}.
                    </p>
                </div>
                <div class="whyMesec-1">
                <p class="text-center"><ion-icon name="eye-outline"></ion-icon></p>  
                    <h3>{{whychooseme.subtitle5}}</h3>
                    <p>{{whychooseme.description5}}
                    </p>
                </div>
                <div class="whyMesec-1">
                <p class="text-center"> <ion-icon name="aperture-outline"></ion-icon></p> 
                    <h3>{{whychooseme.subtitle6}}</h3>
                    <p>{{whychooseme.description6}}
                    </p>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock main-content %}

    
